<nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Changes in Child1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Changes in Child2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Changes in  Child3</a>
      </li>
      <li>
         <button (click)="someFunc()">click</button>
      </li>
    </ul>
  </nav>
