<div class="card" style="background-color: blueviolet;">
    <button (click)="BtnLogin=true">Login</button>
    <button (click)="BtnLogin=false">Logout</button>
    <button (click)="Signup=true">New Signup</button>
    <button (click)="Signup=false">Old Login</button>
    <div class="card-header">Child1</div>
    <div class="card-body">
        <a>Data from header {{headerOrg}}</a>
        <app-child-two [gettersetterValue]="gsobj" [changesobj]="ngchangesObj" [signup]="Signup" [loginout]="BtnLogin" [helloproperty2]="headertext2" [helloproperty]="headertext"></app-child-two>
    </div>
</div>